<section class="h-full px-60 py-32" id="about_container">
  <div class="grid lg:grid-cols-2 grid-cols-1 h-full w-full gap-8">
    <div class="w-full h-full" id="about_image_container"></div>
    <div class="p-20">
      <h1>Who are we?</h1>
      <p>
        At Bella Tavola da Joe, we're more than just a restaurant; we're a
        celebration of Italian flavors, traditions, and the love for exceptional
        food. 
        <br><br>Our journey began in 2001 when our founder, Joe, embarked on a
        mission to bring the taste of Italy to your table. With a passion for
        crafting authentic Italian dishes and a deep-rooted commitment to family
        values, we've created a warm and welcoming space for you to experience
        the true essence of Italian cuisine.
      </p>
    </div>
  </div>
</section>
