@import "../../../styles/mixins";

#navbar_container {
  @include flex-row();
  background-color: $--clr-light-secondary;
  color: $--clr-medium-primary;
//  display: none;

  ul {
    @include flex-row();

    a {
      color: $--clr-medium-primary;
    }
  }

  #cart_container {
    @include flex-row();

    p,
    i {
      cursor: pointer;
    }
  }
}
