@import "variables";

// GLOBAL STYLING

* {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100vh;
    position: relative;
  }
  
//   body {
//     &::-webkit-scrollbar {
//       display: none;
//   }
//   }

  body:not(i) {
    font-family: 'Roboto', sans-serif;
    color: black;
  }
  
  ul {
    list-style: none;
  }
  
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  h1 {
    font-family: $--font-family7;
    font-size: 5rem;
  }

  h2 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
  
  a,
  a:visited,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
    color: black;
  }
  
  img {
    display: block;
  }
  
  button {
    outline: none;
  }