@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Galada&family=Italianno&family=Lato&family=Montserrat&family=Poppins&family=Roboto:wght@400;900&display=swap');

// FONTS

$--font-family1: 'Audiowide', sans-serif;
$--font-family2: 'Galada', cursive;
$--font-family3: 'Lato', sans-serif;
$--font-family4: 'Montserrat', sans-serif;
$--font-family5: 'Poppins', sans-serif;
$--font-family6: 'Roboto', sans-serif;
$--font-family7: 'Italianno', cursive;