// FONTS
@import "typography";

// COLORS

$--clr-light-primary: #f7f7f7;
$--clr-light-secondary: #E9ECEF;
$--clr-medium-primary: #6C757D;
$--clr-dark-primary: #212529;
$--clr-button-green: #20C997;
$--clr-button-blue: #1177D1;

// SHADOW
$--shadow-card: 0 8px 8px 6px rgba(0, 0, 0, 0.6), 0 26px 20px 6px rgba(0, 0, 0, 0.29);