<section
  class="h-fit w-full pb-32 pt-16 px-40 max-md:px-4"
  id="benefits_container"
>
  <h1 class="mb-6 max-xl:text-7xl max-md:text-6xl max-sm:text-5xl">
    Why choose us
  </h1>
  <p class="mb-6 text-center">
    At Bella Tavola da Joe, we offer an unparalleled dining experience that sets
    us apart from the rest. Here's why you should choose us:
  </p>
  <div class="w-full" id="benefits_bottom_container">
    <div class="benefits_item">
      <span>01</span>
      <h2>Authentic Italian Cuisine:</h2>
      <p>
        We pride ourselves on serving the most authentic Italian dishes outside
        of Italy. Our recipes have been passed down through generations,
        ensuring that every bite is a journey through the flavors of Italy.
      </p>
    </div>
    <div class="benefits_item">
      <span>02</span>
      <h2>Warm and Welcoming Atmosphere:</h2>
      <p>
        Step into our restaurant, and you'll immediately feel at home. We
        provide a warm and welcoming ambiance that's perfect for family
        gatherings, romantic dinners, or simply enjoying a great meal with
        friends.
      </p>
    </div>
    <div class="benefits_item">
      <span>03</span>
      <h2>Exceptional Customer Service:</h2>
      <p>
        Our dedicated staff is committed to making your dining experience
        memorable. From the moment you walk in to the time you leave, we're here
        to ensure your visit is nothing short of exceptional.
      </p>
    </div>
  </div>
</section>
