<section class="h-fit pb-12 pt-6 px-40 max-md:px-4" id="history_container">
  <h1 class="max-xl:text-7xl max-md:text-6xl max-sm:text-5xl">
    Bella Tavola da Joe
  </h1>
  <div class="grid lg:grid-cols-2 grid-cols-1" id="history_bottom_container">
    <div class="flex flex-col justify-center p-8 max-sm:p-0">
      <div class="max-h-[90%] aspect-square" id="history_image_container"></div>
    </div>
    <div class="flex flex-col justify-center p-8 max-sm:p-0">
      <h2>Our History: A Taste of Tradition</h2>
      <p>
        At Bella Tavola da Joe, we take pride in our rich history that spans
        over two decades. Established in 2001, our restaurant has been a beloved
        part of the community, offering an authentic Italian dining experience
        that keeps our guests coming back for more.
      </p>
      <h3>Savoring the Past, Creating the Future</h3>
      <ul>
        <li>
          <b>Family Legacy:</b> Founded by Joe, a passionate chef with
          deep-rooted Italian traditions, our restaurant was built on a
          foundation of family values and culinary expertise.
        </li>
        <li>
          <b>Authentic Recipes:</b> Our dishes are a testament to the
          time-honored recipes passed down through generations, ensuring every
          bite reflects the true essence of Italian cuisine.
        </li>
        <li>
          <b>Warm Hospitality:</b> We've always believed that good food is best
          enjoyed with great company. Our warm and welcoming atmosphere has made
          Bella Tavola da Joe a gathering place for friends and family.
        </li>
        <li>
          <b>Celebrating Life's Moments:</b> Over the years, we've been
          privileged to be part of countless special occasions, from romantic
          dinners to joyous celebrations. Our restaurant has become a place to
          create cherished memories.
        </li>
        <li>
          <b>Community Connection:</b> We've proudly supported the local
          community, fostering relationships with our neighbors and contributing
          to the vibrant tapestry of our town.
        </li>
      </ul>
    </div>
  </div>
</section>
